body {
    padding: 0px;
    margin: 0 auto;
    background-color: white;
}

header {
    position: relative;
    background-color: blue;
    height: 100px;
    
}

.container .row{
    text-align: center;
}
nav{
    background-color: yellow;
    height: 50px;
}
article{
    background-color: white;
    height: 300px;
}
aside{
    background-color: aqua;
}
footer{
    background-color: antiquewhite;
    height: 50px;
}



